<template>
  <div id="app">
    <b-container fluid>
      <b-row  class="vh-100">
        <b-col cols="2" class="h-100">
          <b-nav vertical>
            <b-nav-item href="#/" active>首页</b-nav-item>
            <b-nav-item href="#/material">物资入库</b-nav-item>
          </b-nav>
        </b-col>
        <b-col class="h-100">
          <router-view/>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }
</script>

<style>
</style>
