<template>
  <div class="h-100">
    <b-button id="new-material" variant="primary" v-b-modal="'modal_new'"
              @click="clickBtn">新建物资
    </b-button>
    <b-button id="update-material" variant="primary" v-b-modal="'modal_update'"
              @click="clickBtn" :selected="selected">更新物资
    </b-button>
    <b-button id="delete-material" variant="primary" v-b-modal="'modal-material-delete'"
              @click="clickBtn" :selected="selected">删除物资
    </b-button>
    <b-button id="read-material" variant="primary" @click="onRefreshBtn">刷新物资
    </b-button>

    <material_read ref="read-material" @select="onChildSelect"></material_read>
    <material_new_update modal-id="modal_new" :form-url="formUrl" :modal-title="modalTitle"
                         op="new" @ok="onRefreshBtn"></material_new_update>
    <material_new_update modal-id="modal_update" :form-url="formUrl" :modal-title="modalTitle"
                         :selected="selected" op="update" @ok="onRefreshBtn"></material_new_update>
    <material_delete :form-url="formUrl" :modal-title="modalTitle" :selected="selected"
                     @delete_ok="onRefreshBtn"></material_delete>
  </div>
</template>

<script>
  import material_new_update from "./material_new_update.vue";
  import material_read from "./material_read.vue";
  import material_delete from "./material_delete";

  export default {
    name: "material_store",
    components: {material_new_update, material_read, material_delete},
    data() {
      return {
        formUrl: "",
        modalTitle: "",
        selected: []
      };
    },
    methods: {
      clickBtn: function (ev) {
        this.modalTitle = ev.toElement.textContent;
        if (ev.toElement.id === "new-material") {
          this.formUrl = '/material/new';
        } else if (ev.toElement.id === "update-material") {
          this.formUrl = '/material/update';
        } else if (ev.toElement.id === "delete-material") {
          this.formUrl = 'material/delete';
        }
      },
      onChildSelect: function (ev) {
        this.selected = ev;
      },
      onRefreshBtn: function (ev) {
        this.$refs["read-material"].$emit("reload");
      },
    },
    filters: {
      delFilter: function (data) {
      }
    }
  }
</script>

<style scoped>

</style>
