<template>
  <!-- list -->
  <div>
    <b-table head-variant="light" selectable select-mode="multi" @row-selected="onRowSelected"
             outlined bordered small hover sticky-header="512px" responsive :items="items" :fields="fields">
    </b-table>
  </div>
</template>

<script>
  export default {
    name: "material_read",
    props: ['selectMode', 'opMode'],
    data() {
      return {
        fields: [{'ctime': '入库日期'}, {'name': '物资名称'}, {'unit_price': '入库单价'}, {'proj_name': '项目名称'},
          {'model': '规格型号'}, {'total_price': '入库金额'}, {'max_price': '最高价'}, {'min_price': '最低价'},
          {'store_type': '入库类别'}, {'material_type': '物资类别'}, {'buyer': '采购员'}, {'keeper': '保管员'},
          {'store_no': '入库单号'}, {'measure_unit': '计量单位'}, {'inspector': '验收员'}, {'supplier': '供应商'},
          {'material_no': '物资编号'}, {'total': '入库数量'}, {'remaining': '库存数量'}, {'comment': '备注'}],
        items: [{
          id: 0,
          ctime: '2019-12-12',
          name: "",
          unit_price: "",
          proj_name: "ok",
          model: "",
          total_price: "",
          max_price: "",
          min_price: "",
          store_type: "",
          material_type: "",
          buyer: "",
          keeper: "",
          store_no: "",
          measure_unit: "",
          inspector: "",
          supplier: "",
          material_no: "",
          total: "",
          remaining: "",
          comment: ""
        }],
      };
    },
    created() {
      this.handleRead();
    },
    mounted () {
      this.$on("reload", function(ev) {
        this.handleRead();
      })
    },
    methods: {
      onRowSelected: function (items) {
        this.$emit("select", items);
      },
      handleRead: function () {
        this.$http.get("/material/read").then((ret) => {
          if (ret.data.code !== 0) {
            alert(ret.data.desc);
            return;
          }
          this.items = ret.data.data;
        }).catch(function (error) {
          alert(error);
        });
      }
    }
    ,
  }
</script>

<style scoped>

</style>
