<template>
  <div>
    <b-modal id="modal-material-delete" centered ok-variant="danger" :title="modalTitle" @show="onShow" @ok="onDelete">
      <p>确认删除吗？</p>
    </b-modal>
  </div>
</template>

<script>
  export default {
    name: "material_delete",
    props: ['formUrl', 'modalTitle', 'selected'],
    methods: {
      onShow: function(bvModalEvt) {
        if (this.$props.selected.length === 0) {
          bvModalEvt.preventDefault();
          alert("请选择至少一个删除项！");
          return;
        }
      },
      onDelete: function () {
        this.$http.delete(this.$props.formUrl, {data: this.$props.selected}).then( ret => {
          if (ret.data.code !== 0) {
            alert(ret.data);
            return;
          }
          this.$emit("delete_ok");
        }).catch(function (error) {
          alert(error);
        });
      }
    }
  }
</script>

<style scoped>

</style>
