<template>
  <!-- new and update -->
  <div>
    <b-modal :id="modalId" size="lg" ok-variant="primary" :title="modalTitle" scrollable centered
             @show="onShow" v-on:ok="onOk">
      <b-form inline>
        <b-form-input id="id" v-model="new_param.id" type="number" hidden/>

        <b-form-group label="入库日期：" label-for="ctime" label-size="sm">
          <b-form-input id="ctime" v-model="new_param.ctime" type="date"/>
        </b-form-group>

        <b-form-group label="物资名称：" label-for="name" label-size="sm">
          <b-form-input type="text" v-model="new_param.name" id="name"/>
        </b-form-group>

        <b-form-group label="入库单价：" label-for="unit-price" label-size="sm">
          <b-form-input type="number" v-model.number="new_param.unit_price" id="unit-price"/>
        </b-form-group>

        <b-form-group label="项目名称：" label-for="proj-name" label-size="sm">
          <b-form-input type="text" v-model="new_param.proj_name" id="proj-name"/>
        </b-form-group>

        <b-form-group label="规格型号：" label-for="model" label-size="sm">
          <b-form-input type="text" v-model="new_param.model" id="model"/>
        </b-form-group>

        <b-form-group label="入库金额：" label-for="total-price" label-size="sm">
          <b-form-input type="number" v-model.number="new_param.total_price" id="total-price"/>
        </b-form-group>

        <b-form-group label="最高价：" label-for="max-price" label-size="sm">
          <b-form-input type="number" v-model.number="new_param.max_price" id="max-price"/>
        </b-form-group>

        <b-form-group label="最低价：" label-for="mmin-price" label-size="sm">
          <b-form-input type="number" v-model.number="new_param.min_price" id="min-price"/>
        </b-form-group>

        <b-form-group label="入库类别：" label-for="store-type" label-size="sm">
          <b-form-input type="text" v-model="new_param.store_type" id="store-type"/>
        </b-form-group>

        <b-form-group label="物资类别：" label-for="material-type" label-size="sm">
          <b-form-input type="text" v-model="new_param.material_type" id="material-type"/>
        </b-form-group>

        <b-form-group label="采购员：" label-for="buyer" label-size="sm">
          <b-form-input type="text" v-model="new_param.buyer" id="buyer"/>
        </b-form-group>

        <b-form-group label="保管员：" label-for="keeper" label-size="sm">
          <b-form-input type="text" v-model="new_param.keeper" id="keeper"/>
        </b-form-group>

        <b-form-group label="入库单号：" label-for="store-no" label-size="sm">
          <b-form-input type="number" v-model.number="new_param.store_no" id="store-no"/>
        </b-form-group>

        <b-form-group label="计量单位：" label-for="measure-unit" label-size="sm">
          <b-form-input type="text" v-model="new_param.measure_unit" id="measure-unit"/>
        </b-form-group>

        <b-form-group label="验收员：" label-for="inspector" label-size="sm">
          <b-form-input type="text" v-model="new_param.inspector" id="inspector"/>
        </b-form-group>

        <b-form-group label="供应商：" label-for="supplier" label-size="sm">
          <b-form-input type="text" v-model="new_param.supplier" id="supplier"/>
        </b-form-group>

        <b-form-group label="物资编号：" label-for="material-no" label-size="sm">
          <b-form-input type="text" v-model="new_param.material_no" id="material-no"/>
        </b-form-group>

        <b-form-group label="入库数量：" label-for="total" label-size="sm">
          <b-form-input type="number" v-model.number="new_param.total" id="total"/>
        </b-form-group>

        <b-form-group label="库存数量：" label-for="remaining" label-size="sm">
          <b-form-input type="number" v-model.number="new_param.remaining" id="remaining"/>
        </b-form-group>

        <b-form-group label="备注：" label-for="comment" label-size="sm">
          <b-form-input type="text" v-model="new_param.comment" id="comment"/>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
  export default {
    name: "material_new_update",
    data() {
      return {
        new_param: {
          id: 0,
          ctime: "",
          name: "",
          unit_price: 0.0,
          proj_name: "",
          model: "",
          total_price: 0.0,
          max_price: 0.0,
          min_price: 0.0,
          store_type: "",
          material_type: "",
          buyer: "",
          keeper: "",
          store_no: "",
          measure_unit: "",
          inspector: "",
          supplier: "",
          material_no: "",
          total: 0.0,
          remaining: 0.0,
          comment: ""
        }
      }
    },
    methods: {
      onShow: function (bvModalEvt) {
        if (this.$props.op === "update") {
          if (this.$props.selected.length !== 1) {
            bvModalEvt.preventDefault();
            alert("请选择一个更新项！");
            return;
          }
          this.new_param = this.$props.selected[0];
        }
      },
      onOk: function (bvModalEvt) {
        let cb = null;
        if (this.$props.op === "update") {
          cb = this.$http.put;
        } else {
          cb = this.$http.post;
        }
        cb(this.$props['formUrl'], tmp).then(ret => {
          if (ret.data.code !== 0) {
            alert(ret.data);
            return;
          }
          this.$emit("ok");
        }).catch(function (error) {
          alert(error);
        });
      }
    },
    props: ['formUrl', 'modalTitle', 'selected', 'modalId', 'op']
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
